<div
  data-radius="medium"
  data-scaling="100%"
>
  <div class="w-full" rdxTabsRoot defaultValue="tab1">
    <div class="inline-flex h-12 items-center justify-center rounded-base border-2 border-border bg-background p-1 text-foreground"
rdxTabsList>
      <button ngClass="inline-flex items-center justify-center whitespace-nowrap rounded-base border-2 border-transparent px-2 py-1 gap-1.5 text-sm font-heading ring-offset-white transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-main data-[state=active]:text-main-foreground data-[state=active]:border-border"
 rdxTabsTrigger value="tab1">Account</button>
      <button [ngClass]="'inline-flex items-center justify-center whitespace-nowrap rounded-base border-2 border-transparent px-2 py-1 gap-1.5 text-sm font-heading ring-offset-white transition-all focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 data-[state=active]:bg-main data-[state=active]:text-main-foreground data-[state=active]:border-border'"
 rdxTabsTrigger value="tab2" active="">Password</button>
    </div>
    <div
    class="mt-2 ring-offset-white focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2"
    rdxTabsContent value="tab1">
      <p class="Text">
        Make changes to your account here. Click save when you're done.
      </p>
      <fieldset class="Fieldset">
        <label class="Label" for="name">Name</label>
        <input class="Input" id="name" value="Pedro Duarte" />
      </fieldset>
      <fieldset class="Fieldset">
        <label class="Label" for="username">Username</label>
        <input class="Input" id="username" value="@peduarte" />
      </fieldset>
      <div style="display: flex; margin-top: 20px; justify-content: flex-end; ">
        <button class="Button green">Save changes</button>
      </div>
    </div>
    <div class="mt-2 ring-offset-white focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2" rdxTabsContent value="tab2">
      <p class="Text">
        Change your password here. After saving, you'll be logged out.
      </p>
      <fieldset class="Fieldset">
        <label class="Label" for="currentPassword">Current password</label>
        <input class="Input" id="currentPassword" type="password" />
      </fieldset>
      <fieldset class="Fieldset">
        <label class="Label" for="newPassword">New password</label>
        <input class="Input" id="newPassword" type="password" />
      </fieldset>
      <fieldset class="Fieldset">
        <label class="Label" for="confirmPassword">Confirm password</label>
        <input class="Input" id="confirmPassword" type="password" />
      </fieldset>
      <div style="display: flex; margin-top: 20px; justify-content: flex-end;">
        <button class="Button green">Change password</button>
      </div>
    </div>
  </div>

</div>