<rtr-sidebar>
  @let isAuthenticated = authStore.isAuthenticated();

  <header
    class="w-xl flex h-16 shrink-0 items-center gap-2 transition-[width,height] ease-linear group-has-[[data-collapsible=icon]]/sidebar-wrapper:h-12">
    Shell Header
  </header>

  <h2 class="text-center text-lg font-semibold">{{ userStore.user()?.username }}</h2>
  <h2>Authenticated: {{ authStore.isAuthenticated() }}</h2>

  <div class="flex flex-col gap-2 p-2 mb-auto">
    <rtr-link title="Chat" to="/chat" />
    <rtr-link title="Sandbox" to="/sandbox" />
    <rtr-link title="Profile" to="/profile" />
    <rtr-link title="Settings" to="/settings" />

    @if (!isAuthenticated) {
    <rtr-link title="Sign in" to="/sign-in" />
    }
  </div>

  <footer class="flex items-center gap-2 ease-linear mb-4">
    @if(isAuthenticated) {
    <rtr-button variant="neutral" (buttonClick)="signOut()">Sign out</rtr-button>
    }
  </footer>

  <rtr-sidebar-rail />
</rtr-sidebar>
